fastapi==0.115.8
pydantic==2.7.1
uvicorn==0.29.0
mangum==0.17.0
tiktoken==0.6.0
requests==2.32.3
numpy==1.26.4
boto3==1.37.0
botocore==1.37.0
python-dotenv==1.0.0
# OpenSearch Serverless dependencies
opensearch-py==2.4.2
requests-aws4auth==1.2.3
